{
  "plugins": ["@babel/plugin-transform-runtime"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "IE 10"
          ],
          "node": "8.0.0"
        }
      }
    ]
  ]
}
